.logout {
	color: red;
	text-decoration: blink;	
	align-items: s;
}
.profileDescription {
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	letter-spacing: -0.2px;
	word-spacing: 6px;
	color: black;
	font-weight: 700;
	text-decoration: solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
}

.profileInfo {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	word-spacing: 1px;
	color: #000000;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}